body{
    background: #fff !important
}

.main{
    padding: 20px;
    background: #fff;

    .page-content{
        padding-left: 10px;
        padding-right: 10px
    }
}

.error{
    &-box{
        padding: 40px;
        text-align: center;
        background: #eee
    }
}

.search{
    &-heading{
        padding-top: 40px;
        h2{
            margin-top: 0
        }
    }

    &-item{
        position:relative;
        font-size: 14px;
        border-top: 1px dashed #ccc;
        padding: 8px 8px 2px 100px;

        .ant-form-item{
            margin-bottom: 0
        }

        .ant-form-item-control{
            word-break: break-all;
            // line-height: 1.6
        }

        .ant-form-item-label label:after{
            display: none
        }

        .ant-input-affix-wrapper{
            width: 600px;
            display: inline-block
        }

        &-text{
            padding-bottom: 8px
        }
    }
    &-label{
        position: absolute;
        font-weight: 700;
        left: 0;
        width:80px;
        top: 12px;
        text-align: right
    }
    &-list{
        margin: 20px 0;
        // border-top: 1px solid #ccc;
        border-bottom: 1px dashed #ccc
    }
    &-footer{
        padding-bottom: 40px;
    }
}