/*.pushto-step3 {width: 800px;}*/
.pushto-step3 h3{margin-left: -20px}
.pushto-step3 .checkGroup {margin: 12px 16px 0;}
.pushto-step3 .checkGroup .checkblock{width: 100%; min-height: 38px;}
.pushto-step3 .checkGroup .checkblock label {font-size: 14px; margin: 5px 0 0 -11px}
